maps/milstead_lakes.html
maps/chesData_and_NHD.html

store/NHDPlusV21_National_Seamless_Flattened_Lower48.gdb/
.Rproj.user
*.Rproj.user/

.Rproj.user/shared/notebooks/paths
.Rproj.user/7E0366CD/sources/prop/INDEX

## large mississippi shape files
*nhd_lakes_in_mrb.shp
*ghg_waterbodies_in_mrb.shp
*mrb_emissions_reductions

## large plot in svg, png is smaller tho
*climate_zones_mrb.svg
